.home-wrapper {
  margin-top: 90px;
  width: 100%;
}

.home-block {
  position: relative;
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.home-text {
  position: absolute;
  bottom: 15%;
  left: 7%;
  max-width: 550px;
  color: #fff;
}

.home-text h1 {
  font-size: 58px;
  font-weight: 800;
  margin-bottom: 15px;
}

.home-text p {
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 25px;
}

.home-btn {
  padding: 14px 30px;
  background: #ffffff;
  border-radius: 6px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: 0.2s ease;
}

.home-btn:hover {
  background: #000;
  color: #fff;
}

.block-1 {
  background-image: url("images/dashboard1.jpg");
}
.block-2 {
  background-image: url("images/dashboard2.jpg");
}
.block-3 {
  background-image: url("images/dashboard3.jpg");
}

.quote-section {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  font-size: 26px;
  font-weight: 600;
  color: #333;
  background: #fafafa;
}

.hero-section {
  margin-top: 90px;
  height: 90vh;
  background-image: url("images/homeLogo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.hero-content {
  position: absolute;
  bottom: 18%;
  left: 7%;
  max-width: 550px;
  color: #fff;
}

.hero-content h1 {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 22px;
  margin-bottom: 25px;
}

.hero-btn {
  padding: 14px 30px;
  background: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  transition: 0.2s ease;
}

.hero-btn:hover {
  background: #000;
  color: #fff;
}
