* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  font-family: "Inter", Arial, sans-serif;
}

.signup-card {
  width: 420px;
  background: #ffffff;
  padding: 40px 32px;
  border-radius: 28px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.card-logo {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 6px;
}

.card-logo img {
  width: 260px;
  height: auto;
  border-radius: 0;
}
.signup-card h1 {
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  margin-top: 5px;
}

.signup-card .subtext {
  text-align: center;
  color: #666;
  font-size: 14px;
  margin-top: -5px;
}

.signup-card .subtext a {
  color: #0440c2;
  text-decoration: none;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.signup-form input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 50px;
  border: 1.5px solid #d8d8d8;
  font-size: 15px;
  outline: none;
  background: #f7f7f7;
}

.signup-form input:focus {
  border-color: black;
}

.form-row {
  display: flex;
  gap: 8px;
}

.form-row input {
  flex: 1;
}

.signup-btn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  background: #000000;
  color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 5px;
}

.signup-btn:hover {
  background: #191919;
  color: white;
}

.form-error {
  text-align: center;
  color: #e11d48;
  font-size: 14px;
}
