body {
  font-family: "Inter", Arial, sans-serif;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin: 6px 0;
}

a {
  margin-top: 25px;
  display: inline-block;
  padding: 12px 20px;
  background: black;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.2s;
}

a:hover {
  background: #333;
}
